/** 
-Import Google Fonts and Define font variables
-Define color varibalbes
-Reset CSS properties(margin, padding)
-set 1rem to be 10px
*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --color-text-desaturated-blue: hsl(238, 29%, 16%);
  --color-text-soft-red: hsl(14, 88%, 65%);
  --color-text-dark-blue: hsl(237, 12%, 33%);
  --color-text-gray-blue: hsl(240, 6%, 50%);
  --color-divider-blue: hsl(240, 5%, 91%);
  --color-bg-violet: hsl(273, 75%, 66%);
  --color-bg-blue: hsl(240, 73%, 65%);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.2rem;
  background-image: linear-gradient(var(--color-bg-violet), var(--color-bg-blue));
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq {
  display: flex;
  flex-direction: row;
  max-width: 920px;
  height: 530px;
  position: relative;
}
@media screen and (max-width: 950px) {
  .faq {
    flex-direction: column;
    margin: 4vw;
    min-width: 292px;
    background-image: url("../images/bg-pattern-mobile.svg");
    background-position: 45% 0%;
  }
}
.faq::after {
  content: url("../images/illustration-box-desktop.svg");
  position: absolute;
  top: 40%;
  left: -10%;
}
@media screen and (max-width: 950px) {
  .faq::after {
    display: none;
  }
}
.faq .faq-img-container {
  flex-basis: 50%;
  display: flex;
  background-color: white;
  position: relative;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-size: 900px;
  background-position: 120% 75%;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
@media screen and (max-width: 950px) {
  .faq .faq-img-container {
    background-image: none;
    justify-content: center;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
@media screen and (max-width: 950px) {
  .faq .faq-img-container__img-desktop {
    display: none;
  }
}
.faq .faq-img-container__img-mobile {
  display: none;
}
@media screen and (max-width: 950px) {
  .faq .faq-img-container__img-mobile {
    display: block;
  }
}
.faq .faq-img-container .images {
  overflow: hidden;
}
@media screen and (max-width: 950px) {
  .faq .faq-img-container .images {
    position: absolute;
    top: -100%;
    max-width: 100%;
  }
}
.faq .faq-img-container .images__woman-desktop {
  transform: translate(-17%, 20%);
}
@media screen and (max-width: 950px) {
  .faq .faq-img-container .images__woman-desktop {
    display: none;
  }
}
.faq .faq-img-container .images__woman-mobile {
  display: none;
}
@media screen and (max-width: 950px) {
  .faq .faq-img-container .images__woman-mobile {
    display: block;
  }
}
.faq .accordion {
  background-color: white;
  padding: 2rem 2rem 5rem 2rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media screen and (max-width: 950px) {
  .faq .accordion {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
.faq .accordion__maintitle {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 3.2rem;
}
@media screen and (max-width: 950px) {
  .faq .accordion__maintitle {
    text-align: center;
  }
}
.faq .accordion__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-in-out;
}
.faq .accordion__btn {
  position: relative;
  display: block;
  width: 100%;
  font-size: 1.5rem;
  padding: 10px 40px 15px 0px;
  margin-top: 10px;
  background-color: white;
  border-bottom: 1px solid var(--color-text-gray-blue);
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: left;
  cursor: pointer;
}
.faq .accordion__btn::after {
  content: url("../images/icon-arrow-down.svg");
  position: absolute;
  top: 40%;
  right: 15px;
  transform: translateY(-50%);
}
.faq .accordion__btn:hover {
  color: var(--color-text-soft-red);
}
.faq .accordion__btn:focus {
  font-weight: 700;
}
.faq .accordion__btn:focus::after {
  transform: rotate(180deg);
  top: 35%;
}

/*# sourceMappingURL=main.css.map */
